html{
  font-size: 30px;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

input{
  font-size: 1rem;
}

button {
  font-size: 1rem;
  color: white;
  background: #222; 
  border: none;
}
.ml-1{
  margin-left: 0.25rem;
}

.bs1{
  border: solid 1px #222;
}

.pl1{
  padding-bottom: 1rem;
}

.bordershadow{
  box-shadow: 4px 6px slateblue;
}

.marginbottom{
  margin-bottom: 10px;
}
.articletimestamp{
  color: lightgrey;
  font-size: 0.75rem;
}