html{
  font-size: 30px;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

input{
  font-size: 1rem;
}

button {
  font-size: 1rem;
  color: white;
  background: #222; 
  border: none;
}